body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: #00ff00;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding-left: 47px;
    padding-right: 71px;
    padding-bottom: 50px;
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.signup-box {
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #00ff00;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #00ff00;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #4e4e4e;
    border-radius: 5px;
    background-color: #3e3e3e;
    color: #00ff00;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5e5e5e;
    color: #00ff00;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #7e7e7e;
}

span {
    color: red;
}
